{
  "my_as": 64496,
  "neighbors": [
    {
      "address": "172.16.1.1",
      "remote-as": 64497
    },
    {
      "address": "172.16.1.3",
      "remote-as": 64498
    }
  ],
  "networks": [
    {
      "prefix": "192.0.2.0",
      "prefix-length": 24
    }
  ]
}